.box {
	zoom: 1;
    background: url(../Images/rgba-black-20.png);
    background: rgba(0,0,0,.2);
    display: block;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 10px;'
}

.box_heading {
	zoom: 1;
    background: 0 0;
    color: #fff;
    margin-bottom: 5px;
}

.box__titleIcon {
	font-size: 1.3em;
    color: #fff;
    color: rgba(255,255,255,.8);
    padding: 3px 8px 0;
}

.box__title {
	zoom: 1;
    cursor: default;
    height: 28px;
    line-height: 30px;
    display: block;
    margin: 0;
    padding: 0 5px;
    font-size: 16px;
    white-space: nowrap;
}

.icon-caret-right:before {
    content: "\25B6";
}

.icon-caret-left:before {
    content: "\25C0";
}

[class*=" icon-"]:before, [class^=icon-]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

[class*=" icon-"], [class^=icon-] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
}

a:hover {
	text-decoration: none;
}

.datepicker-inline {
	width: 100%;
}

.datepicker table thead tr th.dow {
    text-align: center;
}

.datepicker table tr td {
    width: 14.28571%;
    height: auto;
    position: relative;
    border-radius: 2px;
    margin: 2px;
    padding: 2px 0;
    cursor: pointer;
}

.datePicker__dayNumber {
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}

[class^=icon-] {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
}

.float--right {
	float: right;
}

.float--left {
	float: left;
}

.align--center {
	text-align: center;
}