body {
	height: 100vh;
	background-image: url("../images/Background.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	margin-top: 3.5em;
	height: 100vh;
}
.content {
  margin-top: 3.5em;
  height: 100vh;
  width: 100%;
	padding: 0 0.75em  0.75em 0.75em;
	background-color: white;
}
#header {
	background-color: white;
}
#teamName {
	display: inline;
}
#logo {
	background: url("../images/umeaafc_logo_transparent.jpg") no-repeat;
	display: inline-block;
	width: 80px;
	height: 60px;
	background-size: 80px 60px;
}
.button {
	margin-top: 25px;
	cursor: pointer;
	color: black;
}
.top-right-small {
	margin-top: 0.75em;
	position: relative;
	float: right;
	width: 25%;
}
.top-right-medium {
	margin-top: 0.75em;
	position: relative;
	float: right;
	height: auto;
	width: 25%;
}
.top-left-big {
	margin-top: 0.75em;
	position: relative;
	float: left;
	height: auto;
	width: calc(75% - 0.75em);
}
.top-left-big {
	margin-top: 0.75em;
	position: relative;
	float: left;
	height: auto;
	width: calc(75% - 0.75em);
	margin-bottom: 0.75em;
}
.tall {
	height: 55%;
}
.short {
	height: 25%;
}
.red {
	height: 100%;
	width: 100%;
	background-color: red;
}
