body {
	height: 100vh;
	background-image: url("../images/Background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	margin-top: 4.5em;
	height: 100vh;
}
#header {
	background-color: white;
}
#teamName {
	display: inline;
}
#logo {
	background: url("../images/umeaafc_logo_transparent.jpg") no-repeat;
	display: inline-block;
	width: 80px;
	height: 60px;
	background-size: 80px 60px;
}

.button {
	margin-top: 25px;
	cursor: pointer;
	color: black;
	font-family: 'Raleway', sans-serif;
}

li {
}

#canvas {

}
